# Calling and Cleaning the Earnings Document

In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
from numpy.random import randn, rand
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sbn

In [31]:
xls = pd.ExcelFile("edited_table.xlsx")

In [54]:
dframe = xls.parse("All")

In [55]:
dframe.set_axis(["description","code","number_thou","median","perc_change_med","mean","perc_change_mean",
                 "10","20","25","30","40","60","70","75","80","90"],axis=1,inplace=True)

In [56]:
dframe.head()

                             description  code number_thou median  perc_change_med mean  ...   40   60   70   75   80   90
0         Not classified, Not classified     0           :    NaN              NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN
1       Not classified, Tyne and Wear MC     0           :    NaN              NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN
2  Not classified, Greater Manchester MC     0           :    NaN              NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN
3                Not classified, Cumbria     0           :    NaN              NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN
4             Not classified, Lancashire     0           :    NaN              NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN

[5 rows x 17 columns]

In [81]:
table = dframe.loc[~dframe["mean"].isin(["x",np.nan])]

                                             description  code number_thou median  perc_change_med  ... 60  70 75 80 90
1980   Processing and preserving of meat , Not classi...  1011           8  18520              NaN  ...  x   x  x  x  x
1982   Processing and preserving of meat , Greater Ma...  1011           x      x              NaN  ...  x   x  x  x  x
1984      Processing and preserving of meat , Lancashire  1011           x  14883              NaN  ...  x   x  x  x  x
1988   Processing and preserving of meat , North York...  1011           x      x              NaN  ...  x   x  x  x  x
1991    Processing and preserving of meat , Lincolnshire  1011           x  15242              NaN  ...  x   x  x  x  x
2002   Processing and preserving of meat , Cambridges...  1011           x  15172              NaN  ...  x   x  x  x  x
2010            Processing and preserving of meat , Kent  1011           x      x              NaN  ...  x   x  x  x  x
2016   Processing and preserving of poultry meat , No...  1012          16  18725              NaN  ...  x   x  x  x  x
2020   Processing and preserving of poultry meat , La...  1012           x  15965              NaN  ...  x   x  x  x  x
2023   Processing and preserving of poultry meat , We...  1012           x      x              NaN  ...  x   x  x  x  x
2025   Processing and preserving of poultry meat , De...  1012           x  17525              NaN  ...  x   x  x  x  x
2028   Processing and preserving of poultry meat , No...  1012           x      x              NaN  ...  x   x  x  x  x
2032   Processing and preserving of poultry meat , St...  1012           x  16372              NaN  ...  x   x  x  x  x
2039   Processing and preserving of poultry meat , Essex  1012           x      x              NaN  ...  x   x  x  x  x
2042   Processing and preserving of poultry meat , Su...  1012           x  19062              NaN  ...  x   x  x  x  x
2052   Production of meat and poultry meat products  ...  1013          12  17970              NaN  ...  x   x  x  x  x
2054   Production of meat and poultry meat products  ...  1013           x  18735              NaN  ...  x   x  x  x  x
2056   Production of meat and poultry meat products  ...  1013           x  21125              NaN  ...  x   x  x  x  x
2057   Production of meat and poultry meat products  ...  1013           x  18879              NaN  ...  x   x  x  x  x
2059   Production of meat and poultry meat products  ...  1013           x  12959              NaN  ...  x   x  x  x  x
2060   Production of meat and poultry meat products  ...  1013           x  20410              NaN  ...  x   x  x  x  x
2063   Production of meat and poultry meat products  ...  1013           x      x              NaN  ...  x   x  x  x  x
2074   Production of meat and poultry meat products  ...  1013           x  20616              NaN  ...  x   x  x  x  x
2075   Production of meat and poultry meat products  ...  1013           x  21603              NaN  ...  x   x  x  x  x
2077   Production of meat and poultry meat products  ...  1013           x      x              NaN  ...  x   x  x  x  x
2078   Production of meat and poultry meat products  ...  1013           x  21912              NaN  ...  x   x  x  x  x
2088   Processing and preserving of fish, crustaceans...  1020          10  18757              NaN  ...  x   x  x  x  x
2124   Processing and preserving of potatoes , Not cl...  1031           x      x              NaN  ...  x   x  x  x  x
2159   Processing and preserving of potatoes , Outer ...  1031           x  14660              NaN  ...  x   x  x  x  x
2181   Manufacture of fruit and vegetable juice , Som...  1032           x  31980              NaN  ...  x   x  x  x  x
...                                                  ...   ...         ...    ...              ...  ... ..  .. .. .. ..
21905  Hairdressing and other beauty treatment , Warw...  9602           x      x              NaN  ...  x   x  x  x  x
21906    Hairdressing and other beauty treatment , Devon  9602           x      x              NaN  ...  x   x  x  x  x
21910  Hairdressing and other beauty treatment , Camb...  9602           x      x              NaN  ...  x   x  x  x  x
21911    Hairdressing and other beauty treatment , Essex  9602           x      x              NaN  ...  x   x  x  x  x
21912  Hairdressing and other beauty treatment , Hert...  9602           x      x              NaN  ...  x   x  x  x  x
21917  Hairdressing and other beauty treatment , Hamp...  9602           x  14406              NaN  ...  x   x  x  x  x
21920   Hairdressing and other beauty treatment , Surrey  9602           x      x              NaN  ...  x   x  x  x  x
21922  Hairdressing and other beauty treatment , Inne...  9602           x  16947              NaN  ...  x   x  x  x  x
21924    Funeral and related activities , Not classified  9603           5      x              NaN  ...  x   x  x  x  x
21996  Other personal service activities n.e.c, Not c...  9609          20  21865              NaN  ...  x   x  x  x  x
21998  Other personal service activities n.e.c, Great...  9609           x      x              NaN  ...  x   x  x  x  x
22004  Other personal service activities n.e.c, North...  9609           x  26733              NaN  ...  x   x  x  x  x
22007  Other personal service activities n.e.c, Linco...  9609           x  16076              NaN  ...  x   x  x  x  x
22009  Other personal service activities n.e.c, Notti...  9609           x  16677              NaN  ...  x   x  x  x  x
22010  Other personal service activities n.e.c, West ...  9609           x      x              NaN  ...  x   x  x  x  x
22012  Other personal service activities n.e.c, Staff...  9609           x  14141              NaN  ...  x   x  x  x  x
22013  Other personal service activities n.e.c, Warwi...  9609           x      x              NaN  ...  x   x  x  x  x
22016  Other personal service activities n.e.c, Glouc...  9609           x   8672              NaN  ...  x   x  x  x  x
22017  Other personal service activities n.e.c, Somerset  9609           x      x              NaN  ...  x   x  x  x  x
22019     Other personal service activities n.e.c, Essex  9609           x      x              NaN  ...  x   x  x  x  x
22023  Other personal service activities n.e.c, East ...  9609           x      x              NaN  ...  x   x  x  x  x
22025  Other personal service activities n.e.c, Hamps...  9609           x      x              NaN  ...  x   x  x  x  x
22026      Other personal service activities n.e.c, Kent  9609           x      x              NaN  ...  x   x  x  x  x
22027  Other personal service activities n.e.c, Oxfor...  9609           x  21318              NaN  ...  x   x  x  x  x
22028    Other personal service activities n.e.c, Surrey  9609           x      x              NaN  ...  x   x  x  x  x
22029  Other personal service activities n.e.c, West ...  9609           x  21547              NaN  ...  x   x  x  x  x
22030  Other personal service activities n.e.c, Inner...  9609           x  24729              NaN  ...  x   x  x  x  x
22031  Other personal service activities n.e.c, Outer...  9609           x      x              NaN  ...  x   x  x  x  x
22032  Activities of households as employers of domes...  9700          12      x              NaN  ...  x   x  x  x  x
22066  Activities of households as employers of domes...  9700           x  18614              NaN  ...  x   x  x  x  x

[3163 rows x 17 columns]

In [70]:
med_table = dframe.loc[~dframe["median"].isin(["x",np.nan])]

In [71]:
med_table.sort_values("median", ascending=False)

                                             description  code number_thou median  perc_change_med  ... 60  70 75 80 90
17062       Other monetary intermediation , Inner London  6419         109  78555              NaN  ...  x   x  x  x  x
15634                     Cargo handling, Leicestershire  5224           x  77883              NaN  ...  x   x  x  x  x
17638          Fund management activities , Inner London  6630          19  71179              NaN  ...  x   x  x  x  x
17494  Other activities auxiliary to financial servic...  6619          26  69882              NaN  ...  x   x  x  x  x
17566  Activities of insurance agents and brokers , I...  6622          19  65898              NaN  ...  x   x  x  x  x
10281               Production of electricity , Somerset  3511           x  64611              NaN  ...  x   x  x  x  x
10264             Production of electricity , Lancashire  3511           x  62715              NaN  ...  x   x  x  x  x
3132    Manufacture of tobacco products , Not classified  1200           x  61947              NaN  ...  x   x  x  x  x
17045       Other monetary intermediation , Warwickshire  6419           x  59982              NaN  ...  x   x  x  x  x
17278                      Life insurance , Inner London  6511          10  58679              NaN  ...  x   x  x  x  x
4608   Manufacture of refined petroleum products , No...  1920           x  58307              NaN  ...  x   x  x  x  x
13246       Wholesale of office furniture , Inner London  4665           x  57864              NaN  ...  x   x  x  x  x
16954              News agency activities , Inner London  6391          11  57181              NaN  ...  x   x  x  x  x
9071        Manufacture of motor vehicles , Outer London  2910           6  55591              NaN  ...  x   x  x  x  x
10508                Trade of gas through mains , Surrey  3523           x  54540              NaN  ...  x   x  x  x  x
16694       Other telecommunications activities, Suffolk  6190           x  54073              NaN  ...  x   x  x  x  x
17962  Business and other management consultancy acti...  7022          54  53274              NaN  ...  x   x  x  x  x
6772             Processing of nuclear fuel , Lancashire  2446           x  52542              NaN  ...  x   x  x  x  x
17884       Activities of head offices , Buckinghamshire  7010           x  52445              NaN  ...  x   x  x  x  x
12492     Wholesale of tobacco products , Not classified  4635           x  52212              NaN  ...  x   x  x  x  x
16559  Television programming and broadcasting activi...  6020          10  52089              NaN  ...  x   x  x  x  x
16846  Other information technology and computer serv...  6209          17  51938              NaN  ...  x   x  x  x  x
9059               Manufacture of motor vehicles , Essex  2910           7  51707              NaN  ...  x   x  x  x  x
9053        Manufacture of motor vehicles , Warwickshire  2910          12  51611              NaN  ...  x   x  x  x  x
10421                  Manufacture of gas , Warwickshire  3521           x  49358              NaN  ...  x   x  x  x  x
6771                Processing of nuclear fuel , Cumbria  2446          16  48751              NaN  ...  x   x  x  x  x
10404                Manufacture of gas , Not classified  3521           9  48433              NaN  ...  x   x  x  x  x
16738   Computer programming activities   , Inner London  6201           x  48181              NaN  ...  x   x  x  x  x
3108   Manufacture of soft drinks; production of mine...  1107           x  48085              NaN  ...  x   x  x  x  x
10152  Repair and maintenance of transport equipment ...  3317           x  47448              NaN  ...  x   x  x  x  x
...                                                  ...   ...         ...    ...              ...  ... ..  .. .. .. ..
13611  Retail sale in non-specialised stores with foo...  4711           6  10684              NaN  ...  x   x  x  x  x
15918  Restaurants and mobile food service activities...  5610           9  10608              NaN  ...  x   x  x  x  x
16020       Beverage serving activities , Not classified  5630          67  10477              NaN  ...  x   x  x  x  x
14461  Retail sale of clothing in specialised stores ...  4771           x  10474              NaN  ...  x   x  x  x  x
14436  Retail sale of clothing in specialised stores ...  4771          72  10416              NaN  ...  x   x  x  x  x
14292  Retail sale of newspapers and stationery in sp...  4762          10  10295              NaN  ...  x   x  x  x  x
15048                    Taxi operation , Not classified  4932           7  10268              NaN  ...  x   x  x  x  x
14450  Retail sale of clothing in specialised stores ...  4771           7  10180              NaN  ...  x   x  x  x  x
20743      Child day-care activities , West Yorkshire MC  8891           7   9992              NaN  ...  x   x  x  x  x
20501          Dental practice activities , Warwickshire  8623           x   9934              NaN  ...  x   x  x  x  x
15941  Restaurants and mobile food service activities...  5610           6   9910              NaN  ...  x   x  x  x  x
14118  Retail sale of hardware, paints and glass in s...  4752           x   9902              NaN  ...  x   x  x  x  x
15926  Restaurants and mobile food service activities...  5610          13   9793              NaN  ...  x   x  x  x  x
9929              Other manufacturing n.e.c. , Hampshire  3299           x   9785              NaN  ...  x   x  x  x  x
15919  Restaurants and mobile food service activities...  5610           x   9651              NaN  ...  x   x  x  x  x
13626  Retail sale in non-specialised stores with foo...  4711           9   9605              NaN  ...  x   x  x  x  x
21888  Hairdressing and other beauty treatment , Not ...  9602          25   9549              NaN  ...  x   x  x  x  x
13794  Retail sale of bread, cakes, flour confectione...  4724           x   9537              NaN  ...  x   x  x  x  x
20436  General medical practice activities, Hertfords...  8621           x   9503              NaN  ...  x   x  x  x  x
13826  Retail sale of beverages in specialised stores...  4725           x   9252              NaN  ...  x   x  x  x  x
18960  Temporary employment agency activities , Hertf...  7820          30   9174              NaN  ...  x   x  x  x  x
14523  Dispensing chemist in specialised stores , Wor...  4773           x   8956              NaN  ...  x   x  x  x  x
22016  Other personal service activities n.e.c, Glouc...  9609           x   8672              NaN  ...  x   x  x  x  x
13715  Retail sale of fruit and vegetables in special...  4721           x   8374              NaN  ...  x   x  x  x  x
14259  Retail sale of books in specialised stores , C...  4761           x   8122              NaN  ...  x   x  x  x  x
14747  Retail sale of second-hand goods in stores , E...  4779           x   7535              NaN  ...  x   x  x  x  x
19260     General cleaning of buildings , Not classified  8121          52   6743              NaN  ...  x   x  x  x  x
13804  Retail sale of bread, cakes, flour confectione...  4724           x   6264              NaN  ...  x   x  x  x  x
15071                             Taxi operation , Essex  4932           x   4933              NaN  ...  x   x  x  x  x
19281           General cleaning of buildings , Somerset  8121           x   3443              NaN  ...  x   x  x  x  x

[1504 rows x 17 columns]

In [73]:
table.count()

description         3163
code                3163
number_thou         3163
median              3163
perc_change_med        0
mean                3163
perc_change_mean       0
10                  3163
20                  3163
25                  3163
30                  3163
40                  3163
60                  3163
70                  3163
75                  3163
80                  3163
90                  3163
dtype: int64

In [69]:
table.sort_values("mean",ascending=False)

                                             description  code number_thou median  perc_change_med  ... 60  70 75 80 90
17638          Fund management activities , Inner London  6630          19  71179              NaN  ...  x   x  x  x  x
17494  Other activities auxiliary to financial servic...  6619          26  69882              NaN  ...  x   x  x  x  x
17062       Other monetary intermediation , Inner London  6419         109  78555              NaN  ...  x   x  x  x  x
17242  Other financial service activities, except ins...  6499           x      x              NaN  ...  x   x  x  x  x
15634                     Cargo handling, Leicestershire  5224           x  77883              NaN  ...  x   x  x  x  x
18131  Other research and experimental development on...  7219           x      x              NaN  ...  x   x  x  x  x
13964  Retail sale of automotive fuel in specialised ...  4730           x      x              NaN  ...  x   x  x  x  x
17602  Other activities auxiliary to insurance and pe...  6629           x      x              NaN  ...  x   x  x  x  x
17566  Activities of insurance agents and brokers , I...  6622          19  65898              NaN  ...  x   x  x  x  x
11652  Other specialised construction activities n.e....  4399           x      x              NaN  ...  x   x  x  x  x
10280        Production of electricity , Gloucestershire  3511           x      x              NaN  ...  x   x  x  x  x
17962  Business and other management consultancy acti...  7022          54  53274              NaN  ...  x   x  x  x  x
17026                     Central banking , Inner London  6411           x      x              NaN  ...  x   x  x  x  x
17278                      Life insurance , Inner London  6511          10  58679              NaN  ...  x   x  x  x  x
7874   Manufacture of optical instruments and photogr...  2670           x      x              NaN  ...  x   x  x  x  x
3132    Manufacture of tobacco products , Not classified  1200           x  61947              NaN  ...  x   x  x  x  x
16414  Motion picture, video and television programme...  5913           x      x              NaN  ...  x   x  x  x  x
6768         Processing of nuclear fuel , Not classified  2446           x      x              NaN  ...  x   x  x  x  x
15617  Service activities incidental to air transport...  5223           x      x              NaN  ...  x   x  x  x  x
10281               Production of electricity , Somerset  3511           x  64611              NaN  ...  x   x  x  x  x
16846  Other information technology and computer serv...  6209          17  51938              NaN  ...  x   x  x  x  x
9053        Manufacture of motor vehicles , Warwickshire  2910          12  51611              NaN  ...  x   x  x  x  x
16841  Other information technology and computer serv...  6209           x      x              NaN  ...  x   x  x  x  x
10264             Production of electricity , Lancashire  3511           x  62715              NaN  ...  x   x  x  x  x
16954              News agency activities , Inner London  6391          11  57181              NaN  ...  x   x  x  x  x
16559  Television programming and broadcasting activi...  6020          10  52089              NaN  ...  x   x  x  x  x
10343         Distribution of electricity , Lincolnshire  3513           x      x              NaN  ...  x   x  x  x  x
16697     Other telecommunications activities, Hampshire  6190           x      x              NaN  ...  x   x  x  x  x
10290                   Production of electricity , Kent  3511           x      x              NaN  ...  x   x  x  x  x
17314                  Non-life insurance , Inner London  6512           x      x              NaN  ...  x   x  x  x  x
...                                                  ...   ...         ...    ...              ...  ... ..  .. .. .. ..
20769            Child day-care activities , West Sussex  8891           x      x              NaN  ...  x   x  x  x  x
15953          Event catering activities , Merseyside MC  5621           x      x              NaN  ...  x   x  x  x  x
14365  Retail sale of sporting equipment in specialis...  4764           x      x              NaN  ...  x   x  x  x  x
20001                   Pre-primary education , Somerset  8510           x      x              NaN  ...  x   x  x  x  x
21910  Hairdressing and other beauty treatment , Camb...  9602           x      x              NaN  ...  x   x  x  x  x
19290               General cleaning of buildings , Kent  8121           x      x              NaN  ...  x   x  x  x  x
14458  Retail sale of clothing in specialised stores ...  4771           x      x              NaN  ...  x   x  x  x  x
14308  Retail sale of newspapers and stationery in sp...  4762           x      x              NaN  ...  x   x  x  x  x
22032  Activities of households as employers of domes...  9700          12      x              NaN  ...  x   x  x  x  x
14747  Retail sale of second-hand goods in stores , E...  4779           x   7535              NaN  ...  x   x  x  x  x
16000      Other food service activities , Staffordshire  5629           x      x              NaN  ...  x   x  x  x  x
15073                           Taxi operation , Norfolk  4932           x      x              NaN  ...  x   x  x  x  x
12060  Agents involved in the sale of textiles, cloth...  4616           x      x              NaN  ...  x   x  x  x  x
14503  Retail sale of footwear and leather goods in s...  4772           x      x              NaN  ...  x   x  x  x  x
18619  Renting and leasing of other personal and hous...  7729           x      x              NaN  ...  x   x  x  x  x
18413  Other professional, scientific and technical a...  7490           x      x              NaN  ...  x   x  x  x  x
19273    General cleaning of buildings , Nottinghamshire  8121           x      x              NaN  ...  x   x  x  x  x
19262  General cleaning of buildings , Greater Manche...  8121           5      x              NaN  ...  x   x  x  x  x
19242    Combined facilities support activities  , Devon  8110           x      x              NaN  ...  x   x  x  x  x
14310  Retail sale of newspapers and stationery in sp...  4762           x      x              NaN  ...  x   x  x  x  x
13804  Retail sale of bread, cakes, flour confectione...  4724           x   6264              NaN  ...  x   x  x  x  x
15923  Restaurants and mobile food service activities...  5610           x      x              NaN  ...  x   x  x  x  x
17764  Management of real estate on a fee or contract...  6832           x      x              NaN  ...  x   x  x  x  x
16011        Other food service activities , East Sussex  5629           x      x              NaN  ...  x   x  x  x  x
21318  Other amusement and recreation activities  , S...  9329           x      x              NaN  ...  x   x  x  x  x
15071                             Taxi operation , Essex  4932           x   4933              NaN  ...  x   x  x  x  x
14610  Retail sale of cosmetic and toilet articles in...  4775           x      x              NaN  ...  x   x  x  x  x
19275     General cleaning of buildings , Worcestershire  8121           x      x              NaN  ...  x   x  x  x  x
19281           General cleaning of buildings , Somerset  8121           x   3443              NaN  ...  x   x  x  x  x
19287        General cleaning of buildings , East Sussex  8121           x      x              NaN  ...  x   x  x  x  x

[3163 rows x 17 columns]

In [134]:
red_table = pd.DataFrame(table.description.str.rsplit(",",1).tolist(),columns=["type","location"])

In [135]:
red_table

                                                   type                location
0                    Processing and preserving of meat           Not classified
1                    Processing and preserving of meat    Greater Manchester MC
2                    Processing and preserving of meat               Lancashire
3                    Processing and preserving of meat          North Yorkshire
4                    Processing and preserving of meat             Lincolnshire
5                    Processing and preserving of meat           Cambridgeshire
6                    Processing and preserving of meat                     Kent
7            Processing and preserving of poultry meat           Not classified
8            Processing and preserving of poultry meat               Lancashire
9            Processing and preserving of poultry meat        West Yorkshire MC
10           Processing and preserving of poultry meat               Derbyshire
11           Processing and preserving of poultry meat         Northamptonshire
12           Processing and preserving of poultry meat            Staffordshire
13           Processing and preserving of poultry meat                    Essex
14           Processing and preserving of poultry meat                  Suffolk
15       Production of meat and poultry meat products            Not classified
16       Production of meat and poultry meat products     Greater Manchester MC
17       Production of meat and poultry meat products                Lancashire
18       Production of meat and poultry meat products             Merseyside MC
19       Production of meat and poultry meat products         West Yorkshire MC
20       Production of meat and poultry meat products           North Yorkshire
21       Production of meat and poultry meat products              Lincolnshire
22       Production of meat and poultry meat products            Cambridgeshire
23       Production of meat and poultry meat products                     Essex
24       Production of meat and poultry meat products                   Norfolk
25       Production of meat and poultry meat products                   Suffolk
26    Processing and preserving of fish, crustaceans...          Not classified
27               Processing and preserving of potatoes           Not classified
28               Processing and preserving of potatoes             Outer London
29            Manufacture of fruit and vegetable juice                 Somerset
...                                                 ...                     ...
3133           Hairdressing and other beauty treatment             Warwickshire
3134           Hairdressing and other beauty treatment                    Devon
3135           Hairdressing and other beauty treatment           Cambridgeshire
3136           Hairdressing and other beauty treatment                    Essex
3137           Hairdressing and other beauty treatment            Hertfordshire
3138           Hairdressing and other beauty treatment                Hampshire
3139           Hairdressing and other beauty treatment                   Surrey
3140           Hairdressing and other beauty treatment             Inner London
3141                    Funeral and related activities           Not classified
3142            Other personal service activities n.e.c          Not classified
3143            Other personal service activities n.e.c   Greater Manchester MC
3144            Other personal service activities n.e.c         North Yorkshire
3145            Other personal service activities n.e.c            Lincolnshire
3146            Other personal service activities n.e.c         Nottinghamshire
3147            Other personal service activities n.e.c        West Midlands MC
3148            Other personal service activities n.e.c           Staffordshire
3149            Other personal service activities n.e.c            Warwickshire
3150            Other personal service activities n.e.c         Gloucestershire
3151            Other personal service activities n.e.c                Somerset
3152            Other personal service activities n.e.c                   Essex
3153            Other personal service activities n.e.c             East Sussex
3154            Other personal service activities n.e.c               Hampshire
3155            Other personal service activities n.e.c                    Kent
3156            Other personal service activities n.e.c             Oxfordshire
3157            Other personal service activities n.e.c                  Surrey
3158            Other personal service activities n.e.c             West Sussex
3159            Other personal service activities n.e.c            Inner London
3160            Other personal service activities n.e.c            Outer London
3161  Activities of households as employers of domes...          Not classified
3162  Activities of households as employers of domes...            Inner London

[3163 rows x 2 columns]

In [76]:
means = table["mean"]
means.head()

1980    24318
1982    21129
1984    16195
1988    21797
1991    17584
Name: mean, dtype: object

In [138]:
red_table.merge(means, left_index=True,right_index=True, how="outer")

                                                    type                location   mean
0                     Processing and preserving of meat           Not classified    NaN
1                     Processing and preserving of meat    Greater Manchester MC    NaN
2                     Processing and preserving of meat               Lancashire    NaN
3                     Processing and preserving of meat          North Yorkshire    NaN
4                     Processing and preserving of meat             Lincolnshire    NaN
5                     Processing and preserving of meat           Cambridgeshire    NaN
6                     Processing and preserving of meat                     Kent    NaN
7             Processing and preserving of poultry meat           Not classified    NaN
8             Processing and preserving of poultry meat               Lancashire    NaN
9             Processing and preserving of poultry meat        West Yorkshire MC    NaN
10            Processing and preserving of poultry meat               Derbyshire    NaN
11            Processing and preserving of poultry meat         Northamptonshire    NaN
12            Processing and preserving of poultry meat            Staffordshire    NaN
13            Processing and preserving of poultry meat                    Essex    NaN
14            Processing and preserving of poultry meat                  Suffolk    NaN
15        Production of meat and poultry meat products            Not classified    NaN
16        Production of meat and poultry meat products     Greater Manchester MC    NaN
17        Production of meat and poultry meat products                Lancashire    NaN
18        Production of meat and poultry meat products             Merseyside MC    NaN
19        Production of meat and poultry meat products         West Yorkshire MC    NaN
20        Production of meat and poultry meat products           North Yorkshire    NaN
21        Production of meat and poultry meat products              Lincolnshire    NaN
22        Production of meat and poultry meat products            Cambridgeshire    NaN
23        Production of meat and poultry meat products                     Essex    NaN
24        Production of meat and poultry meat products                   Norfolk    NaN
25        Production of meat and poultry meat products                   Suffolk    NaN
26     Processing and preserving of fish, crustaceans...          Not classified    NaN
27                Processing and preserving of potatoes           Not classified    NaN
28                Processing and preserving of potatoes             Outer London    NaN
29             Manufacture of fruit and vegetable juice                 Somerset    NaN
...                                                  ...                     ...    ...
21905                                                NaN                     NaN   9776
21906                                                NaN                     NaN  14376
21910                                                NaN                     NaN   8357
21911                                                NaN                     NaN  12498
21912                                                NaN                     NaN  10264
21917                                                NaN                     NaN  15546
21920                                                NaN                     NaN  13781
21922                                                NaN                     NaN  19191
21924                                                NaN                     NaN  16441
21996                                                NaN                     NaN  28280
21998                                                NaN                     NaN  19102
22004                                                NaN                     NaN  28720
22007                                                NaN                     NaN  18103
22009                                                NaN                     NaN  17416
22010                                                NaN                     NaN  20312
22012                                                NaN                     NaN  16255
22013                                                NaN                     NaN  20190
22016                                                NaN                     NaN   9163
22017                                                NaN                     NaN  16055
22019                                                NaN                     NaN  23320
22023                                                NaN                     NaN  49500
22025                                                NaN                     NaN  32205
22026                                                NaN                     NaN  18249
22027                                                NaN                     NaN  24158
22028                                                NaN                     NaN  33029
22029                                                NaN                     NaN  22721
22030                                                NaN                     NaN  29492
22031                                                NaN                     NaN  29585
22032                                                NaN                     NaN   7799
22066                                                NaN                     NaN  20176

[6211 rows x 3 columns]